/.vscode
/binary_test.py
/black-leaves-of-palm-tree-on-transparent-background-file-png-4059542006.png
/isolated-trees-on-transparent-background-file-png-3887340891.png
/lab13.py
/lab14.py
/Lab_02_Cyber_Sec.pdf
/lab_13.pdf
/nature1.png
/nature2.png
/nature3.png
/nature3_enc.png
/result.txt
/sample-1.txt
/sunset-2501727_960_720-2984681630.png
/test.txt
/test_res.txt